<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.afterMethod()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:48</td>   <td>36049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.afterMethod()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:48</td>   <td>36806</td> <td title="&lt;&lt;ProjectSpecificMethod.afterSuite()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:48</td>   <td>36666</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.afterTest()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:48</td>   <td>36647</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.afterclass()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:57:41</td>   <td>-90730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week2.day1.CreateLead@c273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/07/03 22:59:13</td>   <td>1291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week2.day1.CreateLead@c273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/07/03 22:58:54</td>   <td>-17417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.main(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week2.day1.CreateLead@c273d3]">main</td> 
  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/07/03 22:59:31</td>   <td>19085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.main(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week2.day1.CreateLead@c273d3]">main</td> 
  <td>main@1836354</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/07/03 22:57:39</td>   <td>-92654</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLead.setdata()[pri:0, instance:Week2.day1.CreateLead@c273d3]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836354</td>   <td></td> </tr>
</table>
